
:root {
  --DarkBlue: #2A324B;
  --Blue: #58699D;
  --LightBlue: #E1E5EE;
  --White: #fff;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--LightBlue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  width: 1200px;
  display: flex;
  justify-content: center;

  ul{
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 11px;
    max-width: 1200px;
    justify-content: center;

    li{
      padding: 20px 40px;
      justify-content: center;
      height: 30px;
      list-style: none;
      display: flex;
      gap: 15px;
      border-radius: 10px;
      background-color: var(--DarkBlue);
      color: var(--White);
      border: none;
      font-size: 20px;
      font-weight: 600;
      cursor: pointer;
      width: 150px;

      a{
        color: var(--White);
        text-decoration: none;
      }
    }
  }
}

nav {
  display: flex;
  justify-content: space-evenly;
  margin: 0px;
}

main {
  width: 100%;
  max-width: 1200px;
}

#resource-list {
  padding: 25px;
  background-color: var(--White);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
